body {
    font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 { font-family: var(--font-family-header);
}

#Body {
    display: flex;
    background-color: var(--color-full-background);
}

svg.icon {
    display: inline;
    height: 1.5em;
    width: 1.5em;
    vertical-align: top;
    fill: currentColor;
    stroke: currentColor;
}

