body {
    font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 { font-family: var(--font-family-header);
}

#Home, #Create, #Favorites, #Settings, #Create, #Filters {
    display: flex;
}

.body-content {
    width: 100%;
    padding: 40px;
}

svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
    stroke: currentColor;
}

.name-refresh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--size-spacing-large);
}

.sort-options {
    margin-top: var(--size-spacing-small);
    margin-bottom: var(--size-spacing-large);
    width: max-content;
    border-radius: 10px;
    display: flex;
    border: 2px solid var(--color-border);
}

#Random {
    padding: 10px;
    border-right: 2px solid var(--color-border);
    color: var(--color-text);
    border-radius: 8px 0 0 8px;
    background-color: var(--color-background);
    color: var(--color-text);
}

#A-Z {
    padding: 10px;
    border-right: 2px solid var(--color-border);
    /* background-color: var(--color-background);
    color: var(--color-text); */
}

#Z-A {
    padding: 10px;
    border-right: 2px solid var(--color-border);
    /* color: var(--color-text);
    background-color: var(--color-background); */
}

#Price {
    padding: 10px;
    /* color: var(--color-text);
    border-radius: 0 8px 8px 0;
    background-color: var(--color-background); */
}

.body-content ul {
    padding: 0;
    margin: 0;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: var(--size-spacing-large);
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-between;
} 