body {
    font-family: 'Ubuntu', sans-serif, 'Times New Roman', Times, serif;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif, Calibri,
        Roboto, "Segoe UI",
        Ubuntu, sans-serif;
    ;
}

.Page-Content {
    padding: 50px;
}

/* Index.js CSS */
.Website-Header {
    font-size: 19px;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 50px;
    color: var(--color-text-heading);
    border-bottom: 2px solid var(--color-text-heading);
    gap: 0.5rem;
}

.Cuisine-Selection {
    padding-top: 5%;
    text-align: center;
}

.Cuisine-Selection h2 {
    font-size: 30px;
    margin-bottom: var(--size-spacing-large);
    color: var(--color-text-heading);
}

.Cuisine-Selection ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 0;
}

.Cuisine-Selection ul li {
    font-size: 20px;
    margin: 30px;
}

.Cuisine-Selection ul li a {
    color: var(--color-text);
    text-decoration: none;
    background-color: var(--color-background);
    border-radius: 50px;
    padding: 20px;
    display: flex;
    min-width: 125px;
    justify-content: center;
}

.Cuisine-Selection ul li a:hover {
    background-color: #d2855f;
}

.food-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.food {
    display: flex;
    justify-content: baseline;
    animation: scroll 10s linear infinite; /* Double the duration to match the duplication */
}

.food img {
    margin-right: 5rem;
}

@keyframes scroll {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

/* Indian.js CSS */

.Meal-Options {
    padding: 50px;
}

.Indian-Header h1 {
    font-size: var(--size-spacing-large);
    color: var(--color-text-heading);
}

.Indian-Header b {
    color: var(--color-text-heading);
}

.Search-Bar {
    display: flex;
    font-size: 17px;
    align-items: center;
    border: 2px solid var(--color-invert);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: var(--size-spacing-large);
    background-color: transparent;
    color: black;
}


.Selection-Title {
    color: var(--color-text-heading);
    margin-top: var(--size-spacing-medium);
}

.Meal-Selection ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 25px;
    margin-top: var(--size-spacing-medium);
    border-radius: 15px;
    gap: var(--size-spacing-medium);
    background-color: var(--color-background);
    width: 100%;
    justify-content: space-between;
}

.Meal-Selection ul li {
    border: 2px solid var(--color-border);
    border-radius: 10px;
    padding: 15px;
}

.Meal-Selection ul li:hover {
    background-color: #d29170;
}

.Meal-Selection ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-spacing-medium);
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
}

/* Butter Chicken CSS */
#Butter-Chicken {
    padding: 50px;
}

.Page-Content header h1 {
    color: var(--color-text-heading);
    font-size: var(--size-spacing-large);
}

.Page-Content header p {
    color: var(--color-text-heading);
}

.Intro {
    display: flex;
    margin-top: var(--size-spacing-medium);
    margin-bottom: var(--size-spacing-medium);
    gap: var(--size-spacing-extralarge);
    background-color: var(--color-background);
    padding: 15px;
    border-radius: 15px;
}

.Intro img {
    border-radius: 10px;
}

.Intro-Text {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-large);
}

.Intro-Text b {
    color: var(--color-invert);
}

.Utensiles-Ingredients {
    margin-bottom: var(--size-spacing-medium);
    background-color: var(--color-background);
    display: flex;
    gap: var(--size-spacing-extralarge);
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
}

.Utensiles-Ingredients h4 {
    display: flex;
    align-items: center;
    gap: var(--size-spacing-small);
    color: var(--color-invert);
    font-size: 1.5rem;
}

.Utensiles,
.Ingredients {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-small);
}

.Utensiles ul li,
.Ingredients ul li,
.Steps ol li {
    margin-bottom: var(--size-spacing-small);
}

.Steps {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-small);
    background-color: var(--color-background);
    padding: 15px;
    border-radius: 15px;
}

.Steps h4 {
    display: flex;
    color: var(--color-invert);
    font-size: 1.5rem;
    align-items: baseline;
    gap: var(--size-spacing-small);
}

svg.icon {
    display: inline;
    height: 1.5em;
    width: 1.5em;
    vertical-align: top;
    fill: currentColor;
}