:root {
    --color-text: black;
    --color-text-heading: #00539C;
    --color-background: #EEA47F;
    --color-border: black;
    --color-invert: #00539C;

    --size-spacing-small: 0.5rem;
    --size-spacing-medium: 1rem;
    --size-spacing-medium2: 1.5rem;
    --size-spacing-large: 2rem;
    --size-spacing-extralarge: 3rem
}